<!DOCTYPE html>
<html>
<head>
  <title>Hero Insurance Compare</title>

<link rel="stylesheet" href="/home/ceo-suraj/DjangoProjects/TestInsurance/dashboard/templates/styles.css">
</head>

<body>
<table>
  <tr>
    <th>Name</th>
    <th>Name 1</th>
    <th>Name 2</th>
  </tr>
  <tr>
    <td>Entry Age</td>
    <td>Value 1</td>
    <td>Value 2</td>
  </tr>
  <tr>
    <td>Compensation</td>
    <td>Value 3</td>
    <td>Value 4</td>
  </tr>
  <tr>
    <td>Policy Length</td>
    <td>Value 5</td>
    <td>Value 6</td>
  </tr>
  <tr>
    <td>Coverage Starts</td>
    <td>Value 7</td>
    <td>Value 8</td>
  </tr>
</table>
</body>
</html>
