
<HTML>
<head>
<h1> Get the best insurance for life </h1>
<br>
<br>

<head>
<script>
    // Function to handle the form submission
    function handleSubmit(e) {
        e.preventDefault();
        
        // Get the form data
        var data = new FormData(e.target);
        
        // Create an XMLHttpRequest to send the data to the server
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/submit', true);
        xhr.send(data);
    }
</script>
</head>



</head>

<body>
Welcome to our insurance comparison website 
<br>
<br>
Compare and choose the optimal value option. 
<br>
<br>
<table>
  <caption><b> Check Insurance Value </b></caption>
  <tr>
    <th>Features</th>
    <th>Nepal Life Insurance Company</th>
    <th>Metlife Insurance</th>
  </tr>
  <tr>
    <td>Payment Mode</td>
    <td>monthly, quartely & yearly</td>
    <td>quarterly and yearly</td>
  </tr>
  <tr>
    <td>Sum Assured</td>
    <td>Min 50 K | Max 1 Crore </td>
    <td>Min 1 Lakh | Max 1 Crore </td>
  </tr>
  <br>
  <tr></tr>
  <tr>
    <td rowspan = "2" > Death Benefits</td>	
    <td>Natural Death: X 2 </td> <!Accidental Death: X 3 >
    <td>Natural Death: X 1.5 </td> <!| Accidental Death: X 2>
  </tr>
  <tr>
  <td> Accidental Death: x3 </td>
  <td> Accidental Death: x2 </td>
  </tr>
  
</table>
             
<br>
<br>

//Line added to enter data - from chatgpt
<!-- Create the form to enter the data -->
<form onsubmit="handleSubmit(event)">
    Name: <input type="text" name="name"><br>
    Value: <input type="number" name="value"><br>
    <input type="submit" value="Submit">
</form>

</body>
</HTML>
